<%- include("partials/header") %>

<div class="topnav">
    <a id="homeNav" class="" href="/"><i class=""></i>All Elite Design</a>
    
    <a id="signinLink" href="/users/login">Sign in</a>
</div>
<td align="right"><img id="rounded-img" src="https://i.postimg.cc/SQrFMg1N/AED.png" alt=""></td>
<h1 class="tagline">VISION SPEED<br>QUALITY</h1>

<% let x = Math.floor((Math.random() * 10)); %> 

<h3 id="quotes"><%= blogQuotes[x][0] %><br> <%= blogQuotes[x][1] %></h3>

<div class="regisbtnDiv">
    <h4>Login/Register to open the product etalase.</h4>
    <a class="registerBtn" href="/users/register">Register now!</a><br>
    Already have an account? <a href="/users/login">Sign in.</a>
</div>
<br><hr><br>
<div class="home-container">
    <table id="largeScreenTable">
        <tr>
            <td><h4>Growing thriving startups encourages the creation of young people.</h4></td>
            <td align="right"><img id="rounded-img" src="https://i.postimg.cc/R0prYhf6/AED-B1.jpg" alt=""></td>
        </tr>
        <tr>
            <td><img src="https://i.postimg.cc/NMTyD5PY/AED-B2.jpg" alt=""></td>
            <td><h4>Various kinds of services are expected to be able to develop skills and build networks assisted by Ngr.</h4></td>
        </tr>
    </table>
    <br><hr><br>
</div>

<%- include("partials/footer") %>